body{
    margin: 0px;
    padding: 0px;
}

#header{
    background-color: #7e22ce;
    height: 10vh;
    min-height: 75px;
    display: flex;
}

#content{
    height: 90vh;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(500px, 5fr);
    background-color: #581c87;
}

#menu{
    background-color:#6b21a8;
    display: flex;
    padding: 30px;
    gap: 30px;
    flex-direction: column;
}

.main{
    background-color: #581c87;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 18vw));
    grid-auto-rows: minmax(300px, 50vh);
    gap: 30px;
}

.todo{
    background-color: #fdba74;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 10px;
}

h1{
    margin: 0px;
    align-self: center;
    margin-left: calc(30px + 2vw);
    font-size: calc(25px + 0.7vw);
}

h2{
    margin: 0px;
}

h3{
    grid-column: 1/3;
    font-size: 30px;
    align-self: center;
    justify-self: center;
    margin: 0px;
}

.description{
    grid-column: 1/3;
    font-size: calc(15px + 0.3vw);
    align-self: center;
    justify-self: center;
}

.priority, .date{
    align-self: center;
    justify-self: center;
    font-size: calc(15px + 0.3vw);
}

.list{
    background-color: rgb(228, 132, 228);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.list:hover{
    background-color: rgb(207, 119, 207);
}

.list, .todo{
    border: 2px solid;
    border-radius: 20px;
}

button{
    border-radius: 20px;
    border: 2px solid black;
    background-color: #ef4444;
}

button:hover{
    background-color: #dc2626;
}

#listCreate{
    order: 1;
    justify-content: center;
}

form{
    display: flex;
    justify-content: space-between;
}

input{
    width: 8vw;
    min-width: 75px;
    height: calc(15px + 0.3vw);
}