body{
    margin: 0px;
    padding: 0px;
}

#header{
    background-color: #581c87;
    height: 10vh;
}

#content{
    height: 90vh;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(500px, 5fr);
}

#menu{
    background-color:#6b21a8;
}

#main{
    background-color: #7e22ce;
}

h1{
    margin: 0px;
}